/* Set up custom assets */

@font-face {
	font-family: 'huge';
	src: url('/static/GUIAssets/HUGE.TTF');
	}

* {
	font-family:Arial;
	font-size:10pt;
	}

/*Disable text selection by default*/
html, body, div, span, object,
form, input, h1, h2, button, label, a, img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  /*this will work for QtWebKit in future
  -webkit-user-drag: none;
  user-select: none; */
}

input[type=text] {
  -moz-user-select: text;
  -webkit-user-select: text;
}
/* Macro layout stuff */

#underlay {
	background-color: white;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	}

	
#frame {
	padding: 15px;
	margin: 0 auto;
	border-radius: 5px;
	background-color: transparent;
	display: inline-block;
	text-align: left;
	}

#sharedstash{
	position: relative;
	}
    
#sharedstash_stack {    
    position: absolute;
    top: 42px;
	left: 19px;
    } 
    
#ig_inventorytabs_arms {
	position: absolute;
	left: 153px;
    top:300px;
	}
	
#ig_inventorytabs_consumables {
	position: absolute;
	left: 208px;
    top:300px;
	}
	
#ig_inventorytabs_spells {
	position: absolute;
	left: 263px;
    top:300px;
	}

.batcharchivebutton {
	position:absolute;
	left:218px;
	top:360px;
}
	
/* General layout */
 .grid {
	display: table;
    table-layout:fixed;
    border-spacing: 2px;
    position: absolute;
    top: 0;
    left: 0;
    }

.gridrow {
	display: table-row;
    }

.gridcell {
    height: 57px;
    min-height: 57px;
    max-height: 57px;
    width: 57px;
    min-width: 57px;
    max-width: 57px;
	border-style:hidden;
	border-width:1px;
	display: table-cell;
    padding: 0 0 0 0;
    overflow:hidden;
    }

.item {
    max-height: 57px;
    display: block;
    cursor:pointer;cursor:hand;
    }

.archive {
    top: 365px;
	left: 37px;
	position: absolute;
	width:400px;
	margin: 0 auto;
    }
.archivetitle {
	font-family: huge;
	color: white;
	font-size: 16pt;
	}
.archivetablecontainer {
	height: 250px;
	overflow-y: scroll;
	}
.archivetable {
	display: table;
	position: relative;
	table-layout: fixed;
	width: 100%;
	}
.archiverow {
	display: table-row;
	}
.archivecell {
	display: table-cell;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
    }
.archiveicon {
	max-width:100%;
	max-height:100%;
	min-width:100%;
	min-height:100%;
	width:100%;
	height:100%;
	vertical-align:middle;
	}
.iconcell {
	width: 15px;
	height: 15px;
	max-width:15px;
	max-height:15px;
	min-width:15px;
	min-height:15px;
	padding:0 0 0 0;
	vertical-align:middle;
	}
.namecell {
	width: 245px;
	}
.statuscell {
	width:80px;
	}
.deletecell {
	width: 15px;
	overflow: hidden;
	padding-left: 0px;
	}	
.socket1 { top: 0px; 	left:  0px; position: absolute; }
.socket2 { top: 15px; 	left:  0px; position: absolute; }
.socket3 { top: 0px; 	right: 0px; position: absolute; }
.socket4 { top: 15px; 	right: 0px; position: absolute; }
.socket5 { top: 30px; 	left:  0px; position: absolute; }
.socket6 { top: 30px; 	right: 0px; position: absolute; }
.socket7 { top: 45px; 	left:  0px; position: absolute; }
.socket8 { top: 45px; 	right: 0px; position: absolute; }
.qty 	 { top: 45px; 	right: 0px; position: absolute; font-size: 8pt; color: white;}
	
/* Item display popup */
.itempopup {
    max-width: 325px;
	min-width: 200px;
    position: absolute;
    /*top: 65px;
    left: 630px;*/
    background-color:rgba(0, 0, 0, 0.9);
    border-color: orange;
    border-style: solid;
	text-align: left;
	padding: 10px;
    }

.poptitlearea {
	display: block;
	overflow: auto;
	min-height: 80px;
	}
	
.poplevel {
    position: absolute;
    right: 10px;
    color: white;
	font-family: huge;
	font-size: 10pt;
    }

.popicon {
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	border-radius: 3px;
	float: left;
	}

.poptitle {
	font-size: 14pt;
	font-family: huge;
	position: relative;
	top: 15px;
	}
	
.popunique {
    color: orange;
    }

.popnormal {
    color: white;
    }

.popmagic {
    color: #3366FF;
    }

.poplegendary {
    color: #E60000;
    }

.popinnatedeficon {
	max-height: 17px;
	height: 17px;
	float: left;
	}
	
.poptext {
	font-size:11pt;
	}
	
.popinnate {
	color: white;
	}
	
.popeffect {
    color: #0066FF;
    }

.popenchant {
	color: #00FF99;
	}

.poptriggerable {
	color: #FFD633;
	}
	
.popstatreq {
	color: white;
	}

.popdescription {
	color: #00FF00;
	}

.popset {
	color: #CC00CC;
	}
	
.popemptysocket {
	color: #747474;
}
.popemptysocketicon {
	float: left;
	}
.popemptysockettext {
	}
	
.popfullsocketicon {
	max-height: 20px;
	float: left;
	}
	
.popfullsockettext {
	color: #E6E600;
	}
	
.popfullsocketeffect {
	color: #E6E600;
	}

#export {
	position: absolute;
	top: 685px;
	left: 55px;
	}

#donate {
	position: absolute;
	top: 685px;
	left: 415px;
	}
	
.link:hover{
	color: #0066FF;
	}

.link {
	color: #999999;
	}
	
	
/* Message window stuff */
#msgwindow {
	width: 95%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	height: 45px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color:white;
	-moz-user-select: all;
	-webkit-user-select: all;
	-khtml-user-select: all;
	-o-user-select: all;
	-webkit-user-drag: all;
	user-select: all;
	}

#msgwindow .error {
	color:red;
	}

#msgwindow .info {
	color:black;
	}

#msgwindow .saved {
	color:green;
	}

/* Filter box stuff */
.searchbox {
	height: 1.2em;
	font-size: 1em;
	display: inline-block;
	width: 85%;
	position: relative;
	top:5px;
}

.searchlabel {
	font-size: 1.2em;
	font-family: huge;
	color: white;
	display: inline-block;
	margin-right: 2%;
	}

.searchpanel {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	}

/* Image Button stuff */
.imgbuttontext {
	color: white;
	font-family: huge;
	text-align: center;
	position: absolute;
	font-size: 0.8em;
	top: 0.8em;
	width:100%;
}

#updatestashbutton {
	position: absolute;
	top:357px;
	left:40px;
}

#reportbutton {
	position: absolute;
	top:400px;
	left:350px;
	font-family:huge;
	font-size:1em;
	color: white;
}

#reportclosebutton{
	position: absolute;
	top:20px;
	left:385px;
}

#reportoverlay {
	position: absolute;
	top: 50px;
	color: white;
	z-index: 200;
	left: 0%;
	width: 100%;
	text-align: center;
}

#report_img {
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
	max-width:400px;
	height: auto;
}

#reporttitle {
	position: absolute;
	top: 25px;
	left: 80px;
	font-size: 1.2em;
	font-family: huge;
	}
#reportpercent {
	position: absolute;
	top: 45px;
	left: 80px;
	font-size: 1.2em;
}
	
#reportsum1 {
	position:absolute;
	top: 85px;
	left: 80px;
}
#reportsum2 {
	position:absolute;
	top: 100px;
	left: 80px;
}

#reportsum3 {
	position:absolute;
	top: 125px;
	left: 80px;
	max-width:340px;
	text-align: left;
}

#reportlist {
	height: 345px;
	overflow-y: scroll;
	position:absolute;
	top:175px;
	left:85px;
	width:355px;
}

#reportlistheader{
	position: absolute;
	top:157px;
	left:85px;
}

.reportheader {
	text-decoration:underline;
}

.reporttable {
	display: table;
}

.reportrow {
	display: table-row;
	}
.reportcell {
	display: table-cell;
	background-color: transparent;
	border-style: none;
	text-align: left;
    }
.reportname {
	width:230px;
	}
.reportlevel {
	width: 50px;
	}
.reportrarity {
	width: 50px;
	}

/* Overlay */
#overlay {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: white;
	text-align: center;
	}

#overlaycontent {
	margin-left: auto;
	margin-right: auto;
	margin-top: 350px;
	border-style: solid;
	border-width: 3px;
	border-radius: 15px;
	padding: 10px;
	display: inline-block;
	width:400px;
	}
	
#overlaylogo {
	font-family: huge;
	font-size: 40pt;
	color: black;
	}
