.itempopup {
	display: none;
}

div:hover .itempopup {
	display: block;
}

#ss {
	position: relative;
	}

.item {
	max-width:50px;
	max-height:50px;
	}
	
.grid {
	border-style:solid;
	border-width:1px;
	display: table;
	top: 43px;
	left: 18px;
	position: absolute;
}

.gridrow {
	border-style:solid;
	border-width:1px;
	display: table-row;
}

.gridcell {
	width:57px;
	height:57px;
	border-style:solid;
	border-width:1px;
	display: table-cell;
}