

#sharedstash_div {
	position: relative;
	}
    
#sharedstash_stack {    
    position: absolute;
    top: 42px;
	left: 19px;
    } 
    
 .grid {
	display: table;
    table-layout:fixed;
    border-spacing: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

.gridrow {
	display: table-row;
}

.gridcell {
    height: 57px;
    min-height: 57px;
    max-height: 57px;
    width: 57px;
    min-width: 57px;
    max-width: 57px;
	border-style:hidden;
	border-width:1px;
	display: table-cell;
    padding: 0 0 0 0;
    overflow:hidden;
}
   
.item {
    max-height: 57px;
    display: block;
}
	


#ig_inventorytabs_arms {
	position: absolute;
	left: 153px;
    top:300px;
	}
	
#ig_inventorytabs_consumables {
	position: absolute;
	left: 208px;
    top:300px;
	}
	
#ig_inventorytabs_spells {
	position: absolute;
	left: 263px;
    top:300px;
	}